* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Topbar {
    height: 80px;
    max-width: 1500px;
    position: relative;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

.NavLogo {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 2rem;
    justify-items: center;
    margin-left: 20px;
    text-decoration: none;
}

.Topbar > a {
    border-bottom: 3px solid #0000;
    color: #f76f32;
    cursor: pointer;
    font-family: Gilroy-SemiBold, sans-serif;
    height: 100%;
    padding: .5rem 1rem;
    text-decoration: none;
}